@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    @apply rounded-full py-2 font-medium text-center
}

.btn-primary{
    @apply bg-green text-white
}

.btn-secondary{
    @apply border-2 border-green text-green
}

.form-input{
    @apply p-2 bg-primary text-dark-green rounded-lg font-medium placeholder-dark-green placeholder-opacity-50
}

.link{
    @apply underline text-green
}
